body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

#sub-heading {
  font-size: 25px;
  text-align: center;
}

#address-form {
  text-align: center;
}